.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #855988, #6B4984, #483475, #2B2F77, #141852, #070B34);
  color: #333;
  padding: 5rem 0;
}


.left {
    width: 50%;
    padding: 0 2rem;
    color: #333;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.aboutme {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutme2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.img-stack {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 2rem;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.img-stack-bottom {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 2rem;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.img-overlay p {
  color: #fff;
  font-size: 1.5rem;
}

.img-stack:hover > .img-overlay {
    opacity: 1;
  }
  
  .img-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .img-overlay2 p {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .img-stack-bottom:hover .img-overlay2 {
    opacity: 1;
  }